<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Donation Status</title>
</head>
<body>
    <h1>Donation Status</h1>

    <!-- Display the message -->
    <p th:if="${donationDto.amount <= cause.goalAmount}">___________________________________SUCCESS__________________________________</p>
    <p th:if="${donationDto.amount > cause.goalAmount}">___________________________________FAILURE: Donation amount exceeds goal amount__________________________________</p>
</body>
</html>
